* {
    /*font-size: 20px;*/
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(252, 230, 219);
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

section {
    background-color: rgb(252, 230, 219);
    height: 500px;
    width: 100%;
}

nav {
    display: flex;
    background-color: beige;
    color: black;
    height: 100px;
    justify-content: flex-end;
    background-color: black;
    color: white;
    width: 100%;
}

a:hover {
    color: blue;
    cursor: pointer
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-evenly;
    font-size: 30px;
}

li {
    display: flex;
    text-decoration: none;
}

.profile {
    height: 700px;
    font-size: 30px;
    background-color: black;
    width: 100%;
}

.profile img {
    width: 30%;
    border-radius: 100px;
    height: 525px;
    margin-left: 30px;
}

.profile-section2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
    color: white;
}

.profile-section2 h1 {
    margin-left: 200px;
    font-size: 70px;
    text-decoration-line: underline;
    margin-block: auto;
    width: 100%;
}

.AboutMe {
    font-size: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(252, 230, 219);
    justify-content: center;
    flex-direction: column;
    height: 380px;
}

.AboutMe h1 {
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    color: black;
    margin-left: 30px;
}

.AboutMe p {
    font-size: 30px;
}

.Projects {
    font-size: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(252, 230, 219);
    justify-content: space-around;
    height: 650px;
}

.Projects h1 {
    text-align: center;
    font-weight: 500;
    font-size: 45px;
    color: black;
}

.Contact {
    font-size: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    flex-direction: column;
}

.Contact h1 {
    text-align: center;
    font-weight: 500;
    font-size: 45px;
    color: white;
}

.cards img {
    width: 280px;
    height: 250px;
    box-shadow: 5px 5px 28px;
    margin: 25px;
}

.cards img:hover {
    color: blue;
    cursor:pointer;
}

.project-containers {
    display: flex;
}

.Contact a {
   font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

footer.Contact {
    height: 250px;
}

.socials {
    display: flex;
    margin: 30px;
}

.socials1 {
    padding: 20px;
}

footer.Contact {
    height: 300px;
    color: white;
    font-size: 18px;
}
